{% extends 'core/base.html' %}

{% block title %}Perfil de Padrino{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class ="row justify-content-around">
        <div class="col col-md-5 align-self-start mt-5">
            <h4>Datos personales</h4>
            {% if 'ok' in request.GET %}
            <div class="text-center">
                <p style="color: rgb(53, 236, 53)">Los datos de su perfil se han actualizado correctamente</p>
            </div>
            {% endif %}
            <form action="" method="post">{% csrf_token %}
                {{ form.as_p }}
                <div class="text-center mt-4"> 
                    <input type="submit"  class="btn btn-dark btncard" value="Guardar" />
                </div>
            </form>   
        </div>
        <div class="col col-md-6 align-self-start mt-5 text-center">
            <h4>Notificaciones</h4>
            <div id="accordion">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        25/11/2020 | Kala esta en proceso de ser vacunada.
                      </button>
                    </h5>
                  </div>
                  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                      Te avisaremos a la brevedad cuando sea vacunada.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        25/11/2020 | El apadrinamiento de Kala fue exitoso.
                      </button>
                    </h5>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                      El pago del apadrinamiento de Kala fue exitoso, gracias por tu ayuda, Kala lo necesita!
                    </div>
                  </div>
                </div>
                </div>
              </div>
            </div>
    </div>
</div>     
{% endblock %}