{% extends 'core/base.html' %}

{% block title %}Apadrinamiento{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class ="row justify-content-around">
        {% for animal in animals %}
            <div class="col- col-md align-self-start">
                <div class="card dogcard">
                    <div class="imagen-dog">
                        <img class="card-img-top" src="/media/{{animal.image}}" alt="Card image">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-center">{{animal.name}}</h3>
                        <p class="card-text"><i>Edad: {{animal.lifestage}}</i></p>
                        <p class="card-text"><i>Sexo: {{animal.gender}}</i></p>
                        <p class="card-text"><i>Esterilizad@: {{animal.sterilized}}</i></p>
                        <div class="text-center mt-3">
                            <a href="{% url 'perfil-animal' animal.animal_id  %}" id="btn-profile-dog" class="btn btn-dark btncard">Conóceme</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

