{% extends 'core/base.html' %}

{% block title %}Perfil{% endblock %}


{% block content %}

<div class="container-fluid">
    <div class="row justify-content-around mt-5">
        <div class="col col-md-6 align-self-center">
            <p>Desea apadrinar a {{animal.name}} con {{sponsor.name}} Por un monto de $ {{sponsor.cost}}</p>
            <p>Presione "Confirmar pago" para aceptar</p>
            <td> <a href="/" class="btn btn-dark btncard">Confirmar pago</a></td>
        </div>
    </div>
</div>


{% endblock %}